.container {
  padding: 10px 10px;
  margin: 2% 3%;
  height: 55px;
}

.container:hover {
  border: 1px solid #dce5ed;
  border-radius: 10px;
  background-color: #f9fafc;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.personalOnlineStatus {
  position: relative;
  top: 34px;
  right: 34px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #76c00d;
  border-radius: 50%;
  border: 2px solid white;
}

.personalOfflineStatus {
  position: relative;
  top: 34px;
  right: 34px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #afbbc6;
  border-radius: 50%;
  border: 2px solid white;
}

.informationSection {
  position: relative;
  top: -20px;
}

.fullName {
  font-size: 18px;
  font-weight: 500;
}

.occupation {
  font-size: 12px;
  font-weight: 500;
  color: #7b8793;
}

.onlineStatus {
  position: relative;
  left: 70px;
  font-size: 12px;
  font-weight: 500;
  color: #76c00d;
}

.offlineStatus {
  position: relative;
  left: 70px;
  font-size: 12px;
  font-weight: 500;
  color: #afbbc6;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
  }
  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #dbe5ed;
}
